In [4]:
import pandas as pd
import numpy as np

In [18]:
data_df = pd.read_csv("../rideshare_kaggle_limited.csv")

cleanData = data_df[["id","hour","datetime","destination","cab_type","price","distance","surge_multiplier","latitude","longitude","temperature","short_summary","windSpeed"]]
cleanData

,id,hour,datetime,destination,cab_type,price,distance,surge_multiplier,latitude,longitude,temperature,short_summary,windSpeed
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,9,12/16/18 9:30,North Station,Lyft,5.0,0.44,1.0,42.2148,-71.0330,42.34,Mostly Cloudy,8.66
1,4bd23055-6827-41c6-b23b-3c491f24e74d,2,11/27/18 2:00,North Station,Lyft,11.0,0.44,1.0,42.2148,-71.0330,43.58,Rain,11.98
2,981a3613-77af-4620-a42a-0c0866077d1e,1,11/28/18 1:00,North Station,Lyft,7.0,0.44,1.0,42.2148,-71.0330,38.33,Clear,7.33
3,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,4,11/30/18 4:53,North Station,Lyft,26.0,0.44,1.0,42.2148,-71.0330,34.38,Clear,5.28
4,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,3,11/29/18 3:49,North Station,Lyft,9.0,0.44,1.0,42.2148,-71.0330,37.44,Partly Cloudy,9.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
693066,616d3611-1820-450a-9845-a9ff304a4842,23,12/1/18 23:53,North End,Uber,13.0,1.00,1.0,42.3519,-71.0643,37.05,Partly Cloudy,2.34
693067,633a3fc3-1f86-4b9e-9d48-2b7132112341,23,12/1/18 23:53,North End,Uber,9.5,1.00,1.0,42.3519,-71.0643,37.05,Partly Cloudy,2.34
693068,64d451d0-639f-47a4-9b7c-6fd92fbd264f,23,12/1/18 23:53,North End,Uber,NaN,1.00,1.0,42.3519,-71.0643,37.05,Partly Cloudy,2.34
693069,727e5f07-a96b-4ad1-a2c7-9abc3ad55b4e,23,12/1/18 23:53,North End,Uber,27.0,1.00,1.0,42.3519,-71.0643,37.05,Partly Cloudy,2.34
693070,e7fdc087-fe86-40a5-a3c3-3b2a8badcbda,23,12/1/18 23:53,North End,Uber,10.0,1.00,1.0,42.3519,-71.0643,37.05,Partly Cloudy,2.34